.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.left {
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		width: 18rem;
		height: 4rem;
	}
}
.right {
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		width: 4rem;
		height: 4rem;
		border-radius: 100%;
	}
}
